.music-player {
  background-color: #fff;
  box-shadow: 0 30px 80px #656565;
  display: flex;
  width: 80%;
  height: 100px;
}

.buffer-container {
  background-color: #003f63;
  width: 75%;
  webkit-transition: 0.3s ease top;
  transition: 0.3s ease top;
}

.buffer-container p {
  color: #acaebd;
  text-align: initial;
  font-size: 13px;
  margin: 20px 20px 10px 130px;
}

.audio {
  position: relative;
  z-index: 1;
  width: 300px;
  height: 32px;
  opacity: 0;
}
.player-off {
  top: 9px;
  left: 10px;
  position: absolute;
  width: 4px;
  height: 14px;
  border-left: 4px solid #555;
  border-right: 4px solid #555;
}
.player-on {
  top: 8px;
  left: 12px;
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 12px solid #555;
}

.logo {
  margin-right: 70%;
  position: relative;
}

.logo-image {
  position: absolute;
  top: -30px;
  width: 115px;
  height: 115px;
  margin-left: 40px;
  -webkit-transform: rotateZ(0);
  transform: rotateZ(0);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  box-shadow: 0 0 0 10px #fff;
  border-radius: 50%;
  overflow: hidden;
}

.image-play {
  animation: App-logo-spin infinite 3s linear;
}

.image-pause {
  animation: auto;
}

.logo-image:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: -10px auto 0 auto;
  background-color: #d6dee7;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #fff;
  z-index: 2;
}

.buttons-ctrl button {
  height: 100%;
  background-color: white;
  border: none;
  width: 100px;
  margin: 0 5px;
}

.buttons-ctrl button:hover {
  background-color: #00a2ff;
  color: white;
}
